<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="gray-bg">

<div th:replace="fragments/header :: header"/>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <h4>Add new race!</h4>

        <form autocomplete="off" action="#" th:action="@{/createrace}"
              th:object="${race}" method="post" class="m-t" role="form"
              data-toggle="validator">

            <div class="form-group input-group has-feedback">
                <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

                <input type="text" th:field="*{name}"
                       placeholder="Race name" class="form-control" />
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
                <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

                <input type="text" th:field="*{membersQuantity}"
                       placeholder="Members quantity" class="form-control"/>
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <button type="submit"
                    class="btn btn-primary block full-width m-b">Add race</button>

        </form>

    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>