<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">

        <span sec:authorize="!isAuthenticated()">
               <h1>Race helper application. To create new race you have to be logged in</h1>
            </span>
        <span sec:authorize="!isAuthenticated()">
            <h2>1. Log in <a th:href="@{/login}">enter to system</a></h2>
            <h2>2. Registration <a th:href="@{/registration}">registration for new user</a></h2>
        </span>

        <span sec:authorize="isAuthenticated()">
               <a th:href="@{/createrace}">Create race</a>
            </span>

        <span sec:authorize="isAuthenticated()">
        <select class="form-control" name="example" id="example">
            <option value="0">Choose race</option>
            <option th:each="race : ${races}"
                    th:value="${race.id}"
                    th:text="${race.name}">
            </option>
        </select>
        </span>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>